@{
    ViewData["Title"] = "Create order";
}

<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Оформить заказ</h3>
        <form method="post">
            <input type="hidden" name="Id" />
            <table>
                <tr>
                    <td>Город отправителя:</td>
                    <td><input type="text" name="SenderCity" /> </td>
                </tr>
                <tr>
                    <td>Адрес отправителя:</td>
                    <td><input type="text" name="SenderAdress" /></td>
                </tr>
                <tr>
                    <td>Город получателя:</td>
                    <td><input type="text" name="ReceiverCity" /> </td>
                </tr>
                <tr>
                    <td>Адрес получателя:</td>
                    <td><input type="text" name="ReceiverAdress" /></td>
                </tr>
                <tr>
                    <td>Вес:</td>
                    <td><input type="number" name="Weight" /></td>
                </tr>
                <tr>
                    <td>Дата забора груза:</td>
                    <td><input type="date" name="ReciveDate" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Заказать" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>