@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <title>Домашняя страница</title>
</head>
<body>
    <p>Для создания заказа перейдите во вкладку Create Order</p>
    <p>Для просмотра заказов перейдите во вкладку View Orders</p>
</body>
</html>